.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #00aba8;
  text-decoration: none;

  padding: 0.5rem;
}

.nav-links div:hover,
.nav-links div:active,
.nav-links div.active {
  background: #f8ea8c;
  border-color: #00aba8;
  color: #00aba8;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #00aba8;
  color: #00aba8;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #00aba8;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 1rem 2rem 1rem 5rem;
    padding: 1rem;
  }
  .nav-links li:last-child {
    margin-right: 10rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    font-size: 1.1rem;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8ea8c;
    color: #00aba8;
  }
}
